<h1>Your Book List</h1>
<div class="row">
    <mat-form-field class="col-md-6">
        <mat-label>Filter books</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let book">
                <a>{{book.title}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Author(s)</th>
            <td mat-cell *matCellDef="let book">
                <span *ngFor="let author of book.authors; let isLast=last">
                    {{author}}{{isLast ? '' :', '}}&nbsp;
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Your rating</th>
            <td mat-cell *matCellDef="let book">
                <app-star-rating [rating]="book.rating"></app-star-rating>
                </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let book">
                <button mat-icon-button class="editIcon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 25]"></mat-paginator>
</div>
