@import '~@angular/material/theming';

mat-toolbar-row {
    padding: 0px 25px;
}

a {
    padding: 0 10px;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

a.active {
    color: map-get($map: $mat-pink, $key: 500) !important;
    font-weight: bold;
}
